<div class="container">
    <h4 class="mt-1rem">Tabla de medicamentos disponibles</h4>
    <div class="text-right">Total: {{total}}</div>
    <div class="table-border-grey mb-1rem">
        <table class="table table-striped margin-zero">
            <tr>
                <th>C&oacute;digo</th>
                <th>Nombre</th>
                <th>Fecha</th>
                <th>Disponibilidad</th>
            </tr>
            <tr ng-repeat="medicina in medicamentos">
                <td>{{ medicina.codigoProducto }}</td>
                <td>{{ medicina.nombreProducto }}</td>
                <td>{{ medicina.fecha | date:'dd/MM/yyyy'}}</td>
                <td>{{ medicina.disponible }}</td>
            </tr>
        </table>
    </div>
    <nav aria-label="Page navigation" ng-show="totalPage > 1">
        <ul class="pagination justify-content-center" ng-click="managePagination($event)">
            <li class="page-item">
                <a class="page-link" id="pag-tab-first" href="#">Primero</a>
            </li>
            <li class="page-item" ng-repeat="page in pages">
                <a class="page-link" id="pag-tab-{{page}}" href="#">{{page}}</a>
            </li>
            <li class="page-item">
                <a class="page-link" id="pag-tab-last" href="#">&Uacute;ltimo</a>
            </li>
        </ul>
    </nav>
</div>